{
    "timeout": 30,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Bridge\/Symfony\/Bundle\/DependencyInjection",
            "Infrastructure"
        ]
    },
    "logs": {
        "text": "infection/output.log"
    },
    "testFramework":"phpspec"
}
