parameters:
	level: max
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	excludePaths:
		- %currentWorkingDirectory%/tests/Spec/**
		- %currentWorkingDirectory%/src/Infrastructure/Database/StatsDClient.php # include once https://github.com/thephpleague/statsd/pull/56 is merged
	treatPhpDocTypesAsCertain: false
includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/jangregor/phpstan-prophecy/extension.neon
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon
